//Colors
$black: #000000;
$default-bg: #EEEEEE;
$light-black: #313131;
$primary-color: #A191B2;
$secondary-color: $light-black;
$separator: $primary-color;
$white: #FFFFFF;

$cream-white: #EEEEEE;

$font-color: $white;

$border-header: #707070;

$btn-color: (
    purple: $primary-color
);

$title-fonts: 'Cormorant Infant', serif;
//Sizes
$input-width: 290px
