.breadcrumb-custom {
    font-size: 12px;
    a {
        color: initial;
        font-size: 12px;
    }
    ol {
        background-color: transparent;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
}