.ShopItem {
    &-image {
        align-items: center;
        background-color: $cream-white;
        display: flex;
        justify-content: center;
        min-height: 325px;
        width: 100%;
    }
    &-title {
        margin-top: 26px;
        &:after {
            content: attr(data-price);
            display: block;
            font-weight: 700;
            text-align: center;
        }
        h2 {
            font-size: 16px;
            text-align: center;
        }
    }
}