.Header {
    background-color: $secondary-color;
    &-btnBooking {
        align-items: center;
        border-radius: 0;
        color: $white;
        height: 75px;
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(xl) { 
            width: 182px;
        }
    }
    &-mainMenu {
        border-bottom: solid 1px $border-header;
        .navbar {
            padding-bottom: 0;
            padding-top: 0;
            min-height: 75px;
        }
        .nav-item {
            text-align: center;
            min-width: 124px;
        }
        .nav-link {
            color: $white !important;
            &.icon {
                display: inline-block;
                text-align: center;
                width: auto;
            }
        }
        .dropdown-menu.dropdown-menu-right.show {
            background-color: $secondary-color;
            border-radius: 0;
            margin-left: auto;
            margin-right: auto;
            @include media-breakpoint-up(xl) { 
                left: 50%;
                transform: translate(-50%);
            }
            button {
                color: $white;
                height: 48px;
                text-align: center;
                &:hover {
                    background-color: $black;
                }
            }
        }
        .dropdown-toggle::after { 
            margin-left: 1.225em;
        }
    }
    &-topbar {
        background: $black;
        color: $font-color;
        height: auto;
        line-height: 40px;
        text-align: center;
    }
}